<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
   <display-name>Sammy Jersey Example</display-name>
   <welcome-file-list>
      <welcome-file>/index.html</welcome-file>
   </welcome-file-list>
   <!-- Jetty specific servlet config - remove if changing webserver -->
   <servlet>
      <servlet-name>default</servlet-name>
      <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
      <init-param>
         <param-name>useFileMappedBuffer</param-name>
         <param-value>false</param-value>
      </init-param>
      <load-on-startup>0</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>JSONApplication</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
      <init-param>
         <param-name>javax.ws.rs.Application</param-name>
         <param-value>jersey.RestApplication</param-value>
      </init-param>
      <init-param>
         <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
         <param-value>true</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>JSONApplication</servlet-name>
      <url-pattern>rest/*</url-pattern>
   </servlet-mapping>
   <mime-mapping>
      <extension>.tmpl</extension>
      <mime-type>text/html</mime-type>
   </mime-mapping>
</web-app>
